@import url("https://fonts.googleapis.com/css?family=Jura");
* {
    margin-top: 0;
    margin-bottom: 0;
}
.blogpostlist_item {
	margin-bottom: 20px;
	padding: 20px;
	background-color: #ffffff;
}
.hoverpop {
	/*box-shadow: 0 2px 4px 0 rgba(20, 20, 20, 0.04), 0 6px 20px 0 rgba(20, 20, 20, 0.04);*/
	border-width: 1px;
	border-style: solid;
	border-color: rgba(20,20,20,0.04);
	border-radius: 4px;
}
.hoverpop:hover {
	box-shadow: 0 4px 8px 0 rgba(20, 20, 20, 0.02), 0 6px 20px 0 rgba(20, 20, 20, 0.02);
}
.blog-list-detail {
	border-bottom: 0px;
}
body {
  padding-top: 0px;
}
.author {
  width:100%;
  background-repeat: no-repeat;
  background-position:center center;
  background-size:cover;
}
.author-container {
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow:hidden;
    vertical-align: middle;
}
.blog-entry-pretty{
	margin-top: 100px;
	margin-bottom: 80px;
	margin-left: 200px;
	margin-right: 200px;
}

.bigpic {
	height:500px; 
	width:100%; 
	background-size:cover;
	padding:20px;
	padding-top:12px;
	}

@media screen and (max-width: 768px) {
  .blog-entry-pretty{
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	}
	.bigpic {
	height:250px; 
	width:100%; 
	background-size:cover;
	margin-bottom: 10vh;
	}
}

body{ /*remove horizontal margins*/
margin-left: 0;
margin-right: 0;
color: #000000;
}
.brand-container {
	display: table-cell;
  	vertical-align: bottom;
}
.navbar-default {
	transition: top 0.2s ease-in-out;
}
.navbar-brand-text {
	display: inline-block;
	font-family: 'Jura', 'Arial', sans-serif;
	font-size: 25px;
	font-weight: thin;
	margin-top: 27px;
}
.nav-up {
  top: -80px;
}
.hidden-squished {
	width:0px;
}
.searchbutton {
	float:right;
	margin-top: 2%;
	margin-right: 10%;
	font-weight: bold;
}
.v-center {
	vertical-align:middle;
	display:block;
}
.fit-in {
	height:20px;
}
.square-sm {
	width:45px;
}
.share-facebook {
  background-color: rgba(44,64,142,1.0);
}
.share-twitter {
  background-color: rgba(0,153,236,1.0);
}
.heart-submit {
	font-family: FontAwesome;
	background-color: rgba(0,0,0,0);
	border-width: 0;
	color: green;
	font-size: 20px;
}
.heart-liked {
	font-family: FontAwesome;
	background-color: rgba(0,0,0,0);
	border-width: 0;
	font-size: 20px;
}
.heart-submit:hover {
	text-shadow: 1px 1px 1.5px rgba(100, 100, 100, 0.5);
}
.blogpostlist_item p {
	font-size: 14px;
	line-height: 1.7;
	font-family: "Hind", "Helvetica Neue", Helvetica, Arial, sans-serif;
}