/**
 *   Here's where everything gets included. You don't need
 *   to change anything here, and doing so might break
 *   stuff. Here be dragons and all that.
 */
/**
 *   Default variables
 *
 *   While these can be set with JavaScript, it's probably
 *   better and faster to just set them here, compile to
 *   CSS and include that instead to use some of that
 *   hardware-accelerated goodness.
 */
 .unslider-arrow {
    position: absolute;
    margin-top: 40vh;
    left: 20px;
    z-index: 15;
    cursor: pointer;
    color: white;
    background-color: rgba(0,0,0,0);
    border-width: 0;
    width:30px;
    height:30px;
    font-weight:bolder;
}
.unslider-arrow:hover {
    opacity: 0.3;
}
.unslider-arrow:focus{
    outline:0px;
}
.unslider-arrow.next {
    left: auto;
    right: 20px
}
.banner-text-div {
  /* Put this on top of the blurred layer */
  position: relative;
  z-index: 100;
  padding: 20px;
  background: rgb(34,34,34); /* for IE */
  background: rgba(34,34,34,0.75);
}
.banner-text-container {
  position: relative;
  overflow: hidden;
  vertical-align:center;
}
.banner-subtitle{
    margin-left: 5%;
    margin-right:10%;
    color: rgba(256, 256, 256, 0.95);
}

.banner-title{
    text-shadow: 2px 2px rgba(20, 20, 20, 0.1);
    margin: 2% 1% 2% 5%;
    color: rgba(256, 256, 256, 0.95);
    font-size: 41px;
    font-family: "Hind", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #ffffff;
}
.banner-cta {
  transition: background-color 0.25s ease;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgba(0,0,0,0);
  border-radius: 3px;
  border-width: 1px;
  border-color: #ffffff;
}
@media all and (max-width: 400px) {
.banner-subtitle {
  display: none;
}
.banner-title {
  font-size: 8vw;
  margin-left: 30px;
  margin-right: 30px;
}
.banner-text-div {
  height: 43vh;
}
.banner-cta {
  position: absolute;
  left:    50px;
  bottom:   20px;
  margin: none;
}
}
.banner-cta:hover {
  background-color: rgba(0,0,0,0.95);
}
.banner-subtitle-cta{
    margin-left: 5%;
    margin-right:10%;
    color: rgba(256, 256, 256, 0.95);
}
 .li-banner {
    background-position: center top;
    vertical-align:center;
    width: 100%;
    min-height: 70vh;
}
 .unslider-innerdiv {
    min-height: 70vh;
    width:100%;
    background-size: cover;
    padding: 20vh 5vw;
}
.unslider {
  margin: 0;
  margin-bottom: 7vh;
  padding: 0;
  min-height: 70vh;
  width:100%;
  max-height: 90vh;
  overflow: hidden;
}
/*@media (max-device-width: 800px) {
   .unslider-innerdiv {
    height: 70vh;
  }
  .unslider {
    height: 70vh;
  }

  .li-banner {
    height: 70vh;
  }
}*/
.unslider-wrap {
  position: relative;
}
.unslider-wrap.unslider-carousel > li {
  float: none;
}
.unslider-vertical > ul {
  height: 100%;
}
.unslider-vertical li {
  float: none;
  width: 100%;
}
.unslider-fade {
  position: relative;
}
.unslider-fade .unslider-wrap li {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 8;
  max-height: 80vh;
  overflow: hidden;
}
.unslider-fade .unslider-wrap li.unslider-active {
  z-index: 10;
}
.unslider ul, .unslider ol, .unslider li {
  list-style: none;
  /* Reset any weird spacing */
  margin: 0;
  padding: 0;
  border: none;
}
/*.unslider-arrow {
  position: absolute;
  left: 20px;
  z-index: 2;
  cursor: pointer;
}
.unslider-arrow.next {
  left: auto;
  right: 20px;
}*/

.unslider-nav ol {
  list-style: none;
  text-align: center;
}
.unslider-nav ol li {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -999em;
  border: 2px solid #fff;
  cursor: pointer;
}
.unslider-nav ol li.unslider-active {
  background: #fff;
  cursor: default;
}
