{% extends "blog/blog_post_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n disqus_tags extra_tags staticfiles %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable blog_post.title %}{{ blog_post.title }}{% endeditable %}
{% endblock %}
{% block bigpic %}
<div style="height:50px; width:100%;"></div>
{% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
<div class="bigpic" style="background-image:url({{ MEDIA_URL }}{{ blog_post.featured_image }}); ">
    {% block blog_post_detail_postedby %}
    {% editable blog_post.publish_date %}
    <h6 class="post-meta authordetails">
        {% with blog_post.user as author %}
        <a href="{% url "blog_post_list_author" author %}"><div class='author-container'> <img class="author" src="{{ MEDIA_URL }}{{ profilepics|get_item:author.username }}"></img></div>&nbsp;&nbsp;{{ author.get_full_name|default:author.username }}</a>
        {% endwith %}
        &middot;
        {% blocktrans with sometime=blog_post.publish_date|timesince|upto:"," %}{{ sometime }} ago{% endblocktrans %}
    </h6>
    {% endeditable %}
{% endblock %}
</div>
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li class="active">{{ blog_post.title }}</li>
{% endblock %}

{% block before_content %} 
{% endblock %}

{% block main %}
<!-- numcomments -->
<!-- {% block blog_post_detail_commentlink %}
<p> 
    {% if blog_post.allow_comments %}
        {% if settings.COMMENTS_DISQUS_SHORTNAME %}
            (<a href="{{ blog_post.get_absolute_url }}#disqus_thread"
                data-disqus-identifier="{% disqus_id_for blog_post %}">{% spaceless %}
                {% trans "Comments" %}
            {% endspaceless %}</a>)
        {% else %}(<a href="#comments">{% spaceless %}
            {% blocktrans count comments_count=blog_post.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
            {% endspaceless %}</a>)
        {% endif %}
    {% endif %}
</p>
{% endblock %} -->

{% block blog_post_detail_featured_image %}
{% endblock %}

{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_counts.html" %}
{% endif %}

{% block blog_post_detail_content %}
<div class="blog-entry-pretty">
<h1>{{ blog_post.title }}</h1> 
{% editable blog_post.content %}
<!-- This was breaking the pictures, couldn't fix richtext filters>
<!-- {{ blog_post.content|richtext_filters|safe }} -->
{{ blog_post.content|safe }} 
{% endeditable %}
</div>
{% endblock %}

{% block blog_post_detail_keywords %}
{% keywords_for blog_post as tags %}
{% if tags %}
{% spaceless %}
<ul class="list-inline tags">
    <li>{% trans "Tags" %}:</li>
    {% for tag in tags %}
    <li><a href="{% url "blog_post_list_tag" tag.slug %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}</li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endif %}
{% endblock %}

{% block blog_post_detail_rating %}
<div class="panel panel-default rating">
    <div class="panel-body">
    {% rating_for blog_post %}
    </div>
</div>
{% endblock %}

{% block blog_post_detail_sharebuttons %}
{% set_short_url_for blog_post %}
<a class="square-sm btn btn-sm share-twitter" target="_blank" href="https://twitter.com/intent/tweet?url={{ blog_post.short_url|urlencode }}&amp;text={{ blog_post.title|urlencode }}"><img src="{% static 'img/twitter.png' %}" class="fit-in"></img></a>
<a class="square-sm btn btn-sm share-facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"><img src="{% static 'img/facebook.png' %}" class="fit-in"></img></a>
{% endblock %}

{% block blog_post_previous_next %}
<ul class="pager">
{% with blog_post.get_previous_by_publish_date as previous %}
{% if previous %}
<li class="previous">
    <a href="{{ previous.get_absolute_url }}">&larr; {{ previous }}</a>
</li>
{% endif %}
{% endwith %}
{% with blog_post.get_next_by_publish_date as next %}
{% if next %}
<li class="next">
    <a href="{{ next.get_absolute_url }}">{{ next }} &rarr;</a>
</li>
{% endif %}
{% endwith %}
</ul>
{% endblock %}

{% block blog_post_detail_related_posts %}
{% if related_posts %}
<div id="related-posts">
<h3>{% trans 'Related posts' %}</h3>
<ul class="list-unstyled">
{% for post in related_posts %}
     <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}

{% block blog_post_detail_comments %}
{% if blog_post.allow_comments %}{% comments_for blog_post %}{% endif %}
{% endblock %}

{% endblock %}
