<ul>

{% for post in posts %}
	<li class="li-banner">
		<div class="unslider-innerdiv slowScroll" style="background:url({{ MEDIA_URL }}{{ post.featured_image }}); background-size: cover; float:none;">
			<div class="banner-text-container">
			<div class ="banner-text-div">
			<div class="banner-title">{{ post.title }} </div>
			<div class="banner-subtitle">{{ post.description }}</div>
			<div class="banner-subtitle-cta"><button class="banner-cta btn"><a href="{{ post.get_absolute_url }}" style="color: #ffffff; font-size:12px;">Read More</a></button></div>
		</div>
		</div>
	</div>
	</li>
{% endfor %}

</ul>